*{
        margin:0;
        padding:0;
        scroll-behavior: smooth;
        font-family: 'Verdana';
}
.logotesda{
    color: #250b80;
    font-weight: bold;
}
.custom-btn {
    background-color: #4ab1fb;
    /* Yellow-orange color */
    border-color: #4ab1fb;
    /* Border color */
}

.custom-btn:hover {
    background-color: #0d588e;
    /* Change color on hover */
    border-color: #0d588e;
    /* Change border color on hover */
}

.card1{
        min-height: 40vh;
        border-radius: 30px;
        background-color: #f0eff0;
}

.cardT{
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: right;
}

.ft{
        position: fixed;
        bottom:0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #2e2e2e;
        color: white;
        font-size: .8rem;
}
.st{
    font-size: 16px;
}
.btt{ 
    margin-top:50%;
    margin-bottom:50%;
}

.main-nav{
        float: right;
        list-style: none;
        margin-top: 10px;
      
      }
      .main-nav li{
        display: inline-block;
        margin-left: 50px;
      }
      .main-nav a:visited,
      .main-nav a:link{
        text-decoration: none;
        color: rgb(194, 116, 8);
        text-transform: uppercase;
        font-size: 70%;
        letter-spacing: 1px;
        transition: 0.5s;
      }
      .main-nav a:active,
      .main-nav a:hover{
        border-bottom: 2px solid #e67e22;
        transition: 0.5s;
      }
.tesda1{
        text-align: center;
}
.tesda2{
        text-align: center;
}
.section1{
        height: 80;
        background-image: url(../img/tesda2.jpg);
        background-size:cover;
}      




.header{
        height: 10vh;
        background-color: #2c0ba3;
}
.header h1{
        color: #fff;
        text-align: center;
        font-size: 50px;
}
.section2{
        height: 100vh;
         
        background-size:cover;
        background-image: linear-gradient(rgba(10,10,10,0.7),rgba(15,15,15,0.7)), url(../img/tesda4.jpg);
}       
.vmgo{
  margin-left: 3%;
  color: #fff;
      
}
.section3{
        height: 100vh;     
        background-size:cover;
        
}
.section4{
        height: 100vh;
        background-color: #fff;
        
}
.header4{
        height: 10vh;
        background-color: rgb(10, 10, 148);
        color: #fff     ;
}
.header2{
        height: 10vh;
        background-color:#2e139c;
        color: #fff;
}
.row2{
        height: 2vh;
}

.inl2{
    display:none;
}
.inl{
    display: inline-block;
}
.export{
    border-radius: 50%;
    width:100px;
    height:100px;
    position:absolute;
    right: 9%;
    bottom: 5%;
    font-size: 2rem;
}

.screen2{
    background-image: url(../img/block.jpg);
	background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
    z-index: 500;
    position:absolute;
    overflow: hidden;

}

.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.slide-in-left {
	-webkit-animation: slide-in-left 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-right {
	-webkit-animation: slide-in-right 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.row{
  
  margin-left: 0;
  margin-right: 0;
}
 
.ib{
    display: inline-block;
    margin-left: 15px;
}
.ceucolor{
    color:#250b80;
    margin-right: 3rem;
}
.ceucolor2{
    color:#300984;
    font-weight: bold;
}
.tesdacolor{
        color: #e49312;
}


.bg2{

}

.btn.ceubtn,
.btn.ceubtn:hover,
.btn.ceubtn:active
{
    color: #0c0d0d;
    border-color: #DC65A1;
    background-color:#DC65A1;
}
#videoBG {
    position:fixed;
    z-index: -3;
    width:100%;
    height: auto;
}

.bg{
    padding-top:9%;
}

header{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    background-size: cover;
    
}

.alumni{
    height:100%;
}

.jumbotron {
  background-color: #d8e7fb;
  border: 1px solid  rgba(9, 23, 224, 0.3);
  color:#060606;
  padding-top: 3%;
  margin-top: -8%;
   
  
}


.bottomline{
    border-bottom: 1px solid rgb(12, 34, 198) ;
    padding-bottom: 3%;
    margin-bottom: 3%;
}
.btn-xl {
    width:50%;
}

.btn-outline-light:hover,
.btn-outline-light:active
{
    color: #080809;
    border-color: #0f0e0f;
    background-color:#c3bad8;
}

/* Alumni Portal  */
.bga{
    padding-top:2%;
}
.ab{
    background-image: linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.90));
}

.jumbotrona {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid  rgba(255, 255, 255, 0.3);
  color:#070707;
  padding-top: 3%;
}

.inputO,
.inputO:active,
.inputO:hover,
.inputO:focus
 {
    background-color: transparent;
    border: 0px solid;
    border-bottom: 1px solid rgb(186, 15, 15);

}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

   .box {
           width: 100%;
           background-color: #f9f9f9;
           border: 1px solid #ccc;
           border-radius: 5px;
           padding: 16px;
           margin: 0 auto;
   }

   .ck-editor__editable[role="textbox"] {
           /* editing area */
           min-height: 300px;
   }

   .error {
           color: red;
   }
